
<!-- BEGIN upload -->
<!-- uploadsection -->
<div class="row">
	<div class=" col-md-12 form-group">
		<span class="form-label" id="basic-addon0">{TXT_TRACK_TITLE}<span
			class="asterisk">*</span></span> <input type="text" class="form-control"
			required="true" aria-describedby="basic-addon0"
			id="iliasopencast_tracktitle" name="tracktitle" value="">
	</div>
</div>
<div class="row">
	<div class=" col-md-12 form-group">
		<span class="form-label" id="basic-addon1">{TXT_TRACK_PRESENTER}</span>
		<input type="text" class="form-control"
			aria-describedby="basic-addon1" id="iliasopencast_trackpresenter"
			name="trackpresenter" value="">
	</div>
</div>
<div>
	<div class="row input-group">
		<div class="col-md-6">
			<span class="form-label" id="basic-addon2">{TXT_TRACK_DATE}<span
				class="asterisk">*</span></span> <input type="text" class="form-control"
				required="true" aria-describedby="basic-addon2"
				id="iliasopencast_trackdate" name="trackdate" value="">
		</div>
		<div class="col-md-6">
			<span class="form-label" id="basic-addon3">{TXT_TRACK_TIME}<span
				class="asterisk">*</span></span> <input type="text" class="form-control"
				required="true" aria-describedby="basic-addon3"
				id="iliasopencast_tracktime" name="tracktime" value="">
		</div>
	</div>
</div>
<div class="row top10">
	<div class="form-group col-md-6 checkbox">
		<label><input type="checkbox" class="" required="false"
			aria-describedby="basic-addon4" id="iliasopencast_trimeditor"
			name="trimeditor" value="">{TXT_TRIMEDITOR}</label>
	</div>
</div>
<div class="row top10">
	<div class="col-md-12">
		<div data-iliasopencast_nothingToUpload>{TXT_NO_FILES}</div>
		<div id="iliasopencast_results" class="panel"></div>
		{TXT_FILE}
		<div class="alert-box secondary"></div>
		<button class="btn btn-default" id="iliasopencast_browseButton">{TXT_SELECT_FILE}</button>
		<button class="btn btn-primary disabled"
			id="iliasopencast_uploadFiles">{TXT_UPLOAD_FILE}</button>
		<button class="btn btn-primary disabled"
			id="iliasopencast_cancelUpload">{TXT_CANCEL_UPLOAD}</button>
	</div>
</div>
<!-- uploadsectionend -->

<!-- END upload -->
