<!-- BEGIN pagestart -->
<script>
var iliasopencast = iliasopencast ||  {};

(function(iliasopencast) {
iliasopencast.settings = iliasopencast.settings || {}
const settings = {
  pluginbasedir : "Customizing/global/plugins/Services/Repository/RepositoryObject/Matterhorn",
  seriesid : "{SERIES_ID}",
  processingcmd : "{CMD_PROCESSING}",
  manualRelease : {MANUAL_RELEASE}
}
$.extend(true,iliasopencast.settings, settings);

iliasopencast.translation = {
    txt_none_processing : "{TXT_NONE_PROCESSING}",
    txt_none_finished : "{TXT_NONE_FINISHED}",
    txt_none_scheduled : "{TXT_NONE_SCHEDULED}",
    txt_none_onhold : "{TXT_NONE_ONHOLD}",
    txt_delete: "{TXT_DELETE}",
}

})(iliasopencast);
</script>
<!-- END pagestart  -->
