<!-- BEGIN headerdownload -->
<div class="ilTableOuter">
<table class="fullwidth table table-striped">
<thead>
<tr><th>{TXT_PREVIEW}</th><th>{TXT_TITLE}</th><th>{TXT_DATE}</th><th>{TXT_ACTION}</th></tr>
</thead>
<tbody>
<!-- END headerdownload -->
<!-- BEGIN header -->
<div class="ilTableOuter">
<table class="fullwidth table table-striped">
<thead>
<tr><th>{TXT_PREVIEW}</th><th>{TXT_TITLE}</th><th>{TXT_DATE}</th></tr>
</thead>
<tbody>
<!-- END header -->       
<!-- BEGIN episodedownload -->     
<tr>
  <td><a href="{CMD_PLAYER}"><img src="{PREVIEWURL}" /></a></td>
  <td><a href="{CMD_PLAYER}">{TXT_TITLE}</a></td>
  <td>{TXT_DATE}</td>
  <td><a href="{DOWNLOADURL}">{TXT_DOWNLOAD}</a></td>
</tr>
<!-- END episodedownload -->       
<!-- BEGIN episode -->     
<tr>
  <td><a href="{CMD_PLAYER}"><img src="{PREVIEWURL}" /></a></td>
  <td><a href="{CMD_PLAYER}">{TXT_TITLE}</a></td>
  <td>{TXT_DATE}</td>
</tr>
<!-- END episode -->       
<!-- BEGIN footer -->     
</tbody>
</table>
</div>
<!-- END footer -->     
