<!-- BEGIN headerfinished -->     
<H2>{TXT_FINISHED_RECORDINGS}</H2>
<div class="ilTableOuter">
<table class="fullwidth">
<thead>
<tr class="tblheader"><th class="std">{TXT_TITLE}</th><th class="std">{TXT_PREVIEW}</th><th class="std">{TXT_DATE}</th><th class="std">{TXT_ACTION}</th></tr>
</thead>
<tbody>
<!-- END headerfinished -->
<!-- BEGIN headerfinishednoaction -->
<H2>{TXT_FINISHED_RECORDINGS}</H2>
<div class="ilTableOuter">
<table class="fullwidth">
<thead>
<tr class="tblheader"><th class="std">{TXT_TITLE}</th><th class="std">{TXT_PREVIEW}</th><th class="std">{TXT_DATE}</th></tr>
</thead>
<tbody>
<!-- END headerfinishednoaction -->
<!-- BEGIN finished -->     

<tr>
    <td class="std"><a href="{CMD_DOWNLOAD}">{TXT_EPISODE_TITLE}</a></td>
    <td class="std"><a href="{CMD_DOWNLOAD}"><img src="{PREVIEWURL}" /></a></td>
    <td class="std">{TXT_EPISODE_DATE}</td><td><a href="{CMD_PUBLISH}">{TXT_PUBLISH}</a></td>   
</tr>
<!-- END finished -->
<!-- BEGIN finishednoaction -->     

<tr>
    <td class="std"><a href="{CMD_DOWNLOAD}">{TXT_EPISODE_TITLE}</a></td>
    <td class="std"><a href="{CMD_DOWNLOAD}"><img src="{PREVIEWURL}" /></a></td>
    <td class="std">{TXT_EPISODE_DATE}</td>   
</tr>
<!-- END finishednoaction -->

<!-- BEGIN nonefinished -->     
<tr class="tblrow1">
    <td class="std" style="text-align:center;" colspan="4">{TXT_NONE_FINISHED}
</td>
</tr>
<!-- END nonefinished -->       
<!-- BEGIN nonefinishednoaction -->     
<tr class="tblrow1">
    <td class="std" style="text-align:center;" colspan="3">{TXT_NONE_FINISHED}
</td>
</tr>
<!-- END nonefinishednoaction -->    
<!-- BEGIN footerfinished -->     
</tbody>
</table>
</div>
<!-- END footerfinished -->       

<!-- BEGIN headerscheduled -->     
<H2>{TXT_SCHEDULED_RECORDING}</H2>
<div class="ilTableOuter">
<table class="fullwidth">
<thead>
<tr class="tblheader"><th class="std">{TXT_TITLE}</th><th class="std">{TXT_STARTDATE}</th><th class="std">{TXT_ENDDATE}</th><th  class="std">{TXT_LOCATION}</th></tr>
</thead>
<tbody>
<!-- END headerscheduled -->       
<!-- BEGIN scheduled -->     
<tr>
   <td class="std">{TXT_EPISODE_TITLE}</td> <td class="std">{TXT_EPISODE_STARTDATE} </td> <td class="std"> {TXT_EPISODE_STOPDATE} </td> <td class="std"> {TXT_EPISODE_LOCATION} </td>
</tr>
<!-- END scheduled -->       
<!-- BEGIN nonescheduled -->     
<tr class="tblrow1">
    <td class="std" style="text-align:center;" colspan="4">{TXT_NONE_SCHEDULED}
</td>
</tr>

<!-- END nonescheduled -->       
<!-- BEGIN footerscheduled -->     
</tbody>
</table>
</div>
<!-- END footerscheduled -->      
