{{#processing}}
{{^episodes}}
<tr class="tblrow1">
 <td class="std" style="text-align:center;" colspan="4">{{txt.txt_none_processing}}</td>
 </tr>
{{/episodes}}
{{#episodes}}
<tr>
 <td class="std">{{title}}</td>
 <td class="std">{{startdate}}</td>
 <td class="std"><div class="progress"><div class="active progress-bar progress-bar-striped progress-bar-success" role="progressbar" style="width:{{processdone}}%">{{processcount}}</div></div></td>
 <td class="std">{{running}}</td>
</tr>
{{/episodes}}
{{/processing}}
{{#finished}}
{{^episodes}}
<tr class="tblrow1">
 <td class="std" style="text-align:center;" colspan="{{#manualRelease}}5{{/manualRelease}}{{^manualRelease}}4{{/manualRelease}}">{{txt.txt_none_finished}}</td>
</tr>
{{/episodes}}
{{#episodes}}
<tr>
 <td class="std"><a href="{{viewurl}}">{{title}}</a></td>
 <td class="std"><a href="{{viewurl}}"><img src="{{previewurl}}" class="img-thumbnail"/></a></td>
 <td class="std">{{startdate}}</td>
 {{#manualRelease}}
 <td>{{txt_publish_state}}</td>
 {{/manualRelease}}
 <td>
 <div class="dropdown btn-group">
    <a class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {{#manualRelease}}
    <li><a class="dropdown-item" href="{{publishurl}}">{{txt_publish_action}}</a></li>
    {{/manualRelease}}
    <li><a class="dropdown-item" href="{{editmetadataurl}}">{{txt.txt_edit_metadata}}</a></li>
    <!--  <li><a class="dropdown-item" href="#">{{txt.txt_delete}}</a></li> -->
  </ul>
</div></td>
</tr>
{{/episodes}}
{{/finished}}
{{#onhold}}
{{^episodes}}
<tr class="tblrow1">
 <td class="std" style="text-align:center;" colspan="4">{{txt.txt_none_onhold}}</td>
 </tr>
{{/episodes}}
{{#episodes}}
<tr>
 <td class="std"><a href="{{trimurl}}">{{title}}</a></td>
 <td class="std">{{startdate}}</td>
</tr>
{{/episodes}}
{{/onhold}}
{{#scheduled}}
{{^episodes}}
<tr class="tblrow1">
 <td class="std" style="text-align:center;" colspan="5">{{txt.txt_none_scheduled}}</td>
</tr>
{{/episodes}}
{{#episodes}}
<tr>
 <td class="std">{{title}}</td>
 <td class="std">{{startdate}} </td>
 <td class="std"> {{stopdate}} </td>
 <td class="std">{{location}} </td>
 <td class="std"><a class="btn btn-default" href="{{deletescheduledurl}}">{{txt.txt_delete}}</a></td>
</tr>
{{/episodes}}
{{/scheduled}}